
 * {
    margin: 0;
}

body h1 h2 h3 h4 h5 h6 {
    font-family: "Poppins", sans-serif;
}

/* HEADER */
.header {
    background-color: white;
    box-shadow: 0 0 10px rgb(222, 219, 213);
    position: sticky;
    top: 0;
    z-index: 999;
}

.headerCont {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
.headerCont > div {
    padding: 10px 0 10px 0;
        
}
.headerCont > .logo {
    display: flex;
    justify-content: right;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
}
.menu > div {
    margin: 0 10px 0 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 0 0 0;
    cursor: pointer;
}
.menu > div:hover {
    color: rgb(131, 129, 129);
}
.text-primary {
    color: aqua !important;
    margin: 10px 0 0 0;
}
.dropdown-toggle {
    text-decoration: none;
    color: var(--bs-body-color);
}
.dropdown-toggle:hover {
    color: rgb(131, 129, 129);
}
.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .headerCont {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .headerCont {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1200px) {
    .headerCont {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
}

/* INTRO */

.intro {
    background-color: rgb(251, 251, 251);
}

.intro-me {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0 0;
}
.introText {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}
.text {
    padding: 0 10px 0 10px;
}
.text > h1 {
    padding: 0px 0 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 20px;
    font-size: 30px;
}
.text > p {
    color: rgb(83, 80, 80);
    line-height: 0.8cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.discover-btn {
    font-size: 16px;
    color: white;
    background-color: aqua;
    width: 150px;
    height: 40px;
    border-radius: 0% !important;
}
.discover-btn:hover {
    background-color: rgb(204, 200, 200);
    font-weight: 500;
}
.introPhoto {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
}

.photo_bg {
    /* border: 2px solid red; */
    width: 70%;
}
@media (min-width: 768px) {
    .intro-me {
        margin: -100px 0 0 0;
        display: flex;
        flex-direction: row;
    }
    .introText {
        flex-basis: 50%;
        /* border: 5px solid rgb(69, 223, 156); */
        padding: 0 10px 0 0px;
    }
    .text {
        flex-basis: 30%;
        margin: 90px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 100%;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .intro-me {
        display: flex;
        flex-direction: row;
        margin: 15px 0 0 0;
        justify-content: center;
        /* border: 2px solid red; */
    }
    .introText {
        flex-basis: 40%;
        padding: 0 0 0 0;
        /* border: 5px solid rgb(69, 223, 156); */
    }
    .text {
        flex-basis: 30%;
        margin: 70px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 50%;
        /* border: 2px solid red; */
        margin: 30px 0 0 0;
        justify-content: space-around;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 80%;
    }
}
@media (min-width: 1200px) {
    
    .intro-me {
        display: flex;
        flex-direction: row;
        margin: 50px 0 0 0;
        justify-content: space-around;
        /* border: 2px solid red; */
    }
    .introText {
        flex-basis: 50%;
        padding: 0 10px 0 20px;
        /* border: 2px solid red; */
    }
    .text {
        margin: 70px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 50%;
        /* border: 2px solid red; */
        justify-content: center;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 70%;
    }
}

/* ABOUT ME */

.aboutMe {
    background-color: #ffff;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.aboutPhoto {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    /* border: 0.5px solid red; */
    box-shadow: 0 0 5px rgb(243 239 239);
    margin: 60px 20px 0 20px;
}

.aboutphoto_bg {
    /* border: 2px solid red; */
    width: 70%;
}

.aboutText {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}
.textAboutMe {
    padding: 0 10px 0 10px;
}
.textAboutMe > h1 {
    padding: 0px 0 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 10px;
    font-size: 30px;
}
.textAboutMe > p {
    color: rgb(83, 80, 80);
    line-height: 0.8cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fullDetails-btn {
    font-size: 15px;
    color: white;
    background-color: aqua;
    width: 160px;
    height: 40px;
    border-radius: 0% !important;
}
.fullDetails-btn:hover {
    background-color: rgb(204, 200, 200);
    font-weight: 500;
}

@media (min-width: 768px) {
    .about-me {
        margin: -10px 0 0 0;
        display: flex;
        flex-direction: row;
    }
    .aboutText {
        flex-basis: 50%;
        /* border: 5px solid rgb(69, 223, 156); */
        padding: 0 10px 0 40px;
        margin: 0;
    }
    .textAboutMe {
        flex-basis: 50%;
        margin: 90px 0 0 0;
    }
    .aboutPhoto {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        box-shadow: 0 0 5px rgb(243 239 239);
        margin: 145px 10px 0 10px;
        height: fit-content;
    }
    .aboutphoto_bg {
        /* border: 2px solid red; */
        width: 60%;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .about-me {
        display: flex;
        flex-direction: row;
        margin: 15px 0 0 0;
        justify-content: center;
        /* border: 2px solid red; */
    }
    .aboutText {
        flex-basis: 40%;
        padding: 0 0 0 0;
        /* border: 5px solid rgb(69, 223, 156); */
    }
    .textAboutMe {
        flex-basis: 30%;
        margin: 90px 0 0 0;
    }
    .aboutPhoto {
        display: flex;
        flex-basis: 40%;
        /* border: 2px solid red; */
        margin: 110px 40px 0 0;
        justify-content: space-around;
        box-shadow: 0 0 5px rgb(243 239 239);
    }
    .aboutphoto_bg {
        /* border: 2px solid red; */
        width: 55%;
    }
}
@media (min-width: 1200px) {
    .about-me {
        display: flex;
        flex-direction: row;
        margin: 50px 0 0 0;
        justify-content: space-around;
        /* border: 2px solid red; */
    }
    .aboutPhoto {
        display: flex;
        flex-basis: 35%;
        /* border: 2px solid red; */
        justify-content: center;
        box-shadow: 0 0 5px rgb(243 239 239);
        margin: 76px 0 0 0;
    }
    .aboutphoto_bg {
        /* border: 2px solid red; */
        width: 50%;
    }
    .aboutText {
        flex-basis: 46%;
        padding: 0 10px 0 20px;
        /* border: 2px solid red; */
    }
    .textAboutMe {
        margin: 70px 0 0 0;
    }
    
}

/* SERVICES */

.services {
    margin: 60px 0 0 0;
}

.service1 {
    margin: 0 0 60px 0;
    padding: 0 20px 0 20px;
}

.myIcon {
    width: 3.5rem;
    height: 3.5rem;
}

.serviceOffers1 {
    padding: 10px 12px 0 12px;
}
.serviceOffers6 > h5 {
    padding: 17px 0 0 0;
}
@media screen and (min-width: 768px) {
    .services {
        margin: 90px 0 0 0;
    }
    .service1 {
        margin: 0 0 60px 0;
        padding: 0 50px 0 50px;
    }
}
@media screen and (min-width: 1200px) {
    .services {
        margin: 120px 0 0 0;
    }
    .service1 {
        margin: 0 0 60px 0;
        padding: 0 150px 0 150px;
    }
}

/* ACHIEVEMENTS */

.achievements {
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

