
 * {
    margin: 0;
}

/* HEADER */
.header {
    box-shadow: 0px 10px 30px rgb(222, 219, 213);
    position: sticky;
    top: 0;
    z-index: 10;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.container > div {
    padding: 10px 0 10px 0;
        
}
.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
}
.menu > div {
    margin: 0 10px 0 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 15px 0 0 0;
    cursor: pointer;
}
.menu > div:hover {
    color: rgb(131, 129, 129);
}
.text-primary {
    color: aqua !important;
    margin: 10px 0 0 0;
}
.dropdown-toggle {
    text-decoration: none;
    color: var(--bs-body-color);
}
.dropdown-toggle:hover {
    color: rgb(131, 129, 129);
}
.dropdown-item {
    font-size: 12px;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .menu {
        display: none;
    }
}


/* INTRO */

.intro {
    background-color: rgb(251, 251, 251);
}

.intro-me {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0 0;
}
.introText {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}
.text {
    padding: 0 10px 0 10px;
}
.text > h1 {
    padding: 0px 0 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 20px;
    font-size: 30px;
}
.text > p {
    color: rgb(83, 80, 80);
    line-height: 0.8cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.discover-btn {
    font-size: 16px;
    color: white;
    background-color: aqua;
    width: 150px;
    height: 40px;
    border-radius: 0% !important;
}
.discover-btn:hover {
    background-color: rgb(204, 200, 200);
    font-weight: 500;
}
.introPhoto {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
}

.photo_bg {
    /* border: 2px solid red; */
    width: 70%;
}
@media (min-width: 768px) {
    .intro-me {
        margin: -100px 0 0 0;
    }
    .introText {
        flex-basis: 40%;
        /* border: 5px solid rgb(69, 223, 156); */
        padding: 0 40px 0 40px;
    }
    .text {
        flex-basis: 30%;
        margin: 90px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 60%;
        justify-content: center;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 60%;
        margin: auto;
    }
}
@media (min-width: 993px) {
    .intro-me {
        display: flex;
        flex-direction: row;
        margin: 15px 0 0 0;
        justify-content: center;
        /* border: 2px solid red; */
    }
    .introText {
        flex-basis: 40%;
        padding: 0 0 0 0;
        /* border: 5px solid rgb(69, 223, 156); */
    }
    .text {
        flex-basis: 30%;
        margin: 90px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 50%;
        /* border: 2px solid red; */
        margin: 30px 0 0 0;
        justify-content: space-around;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 80%;
    }
}
@media (min-width: 1200px) {
    .intro-me {
        display: flex;
        flex-direction: row;
        margin: 50px 0 0 0;
        justify-content: space-around;
        /* border: 2px solid red; */
    }
    .introText {
        flex-basis: 50%;
        padding: 0 10px 0 20px;
        /* border: 2px solid red; */
    }
    .text {
        margin: 70px 0 0 0;
    }
    .introPhoto {
        display: flex;
        flex-basis: 50%;
        /* border: 2px solid red; */
        justify-content: center;
    }
    .photo_bg {
        /* border: 2px solid red; */
        width: 70%;
    }
}

/* ABOUT ME */

.aboutMe {
    background-color: #ffff;
}

.about-me {
    display: flex;
    flex-direction: column;
    margin: 0px 0 0 0;
}

.aboutPhoto {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 60px 0 0 0;
}

.aboutphoto_bg {
    /* border: 2px solid red; */
    width: 70%;
}

.aboutText {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
}
.textAboutMe {
    padding: 0 10px 0 10px;
}
.textAboutMe > h1 {
    padding: 0px 0 10px 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 20px;
    font-size: 30px;
}
.textAboutMe > p {
    color: rgb(83, 80, 80);
    line-height: 0.8cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fullDetails-btn {
    font-size: 16px;
    color: white;
    background-color: aqua;
    width: 150px;
    height: 40px;
    border-radius: 0% !important;
}
.fullDetails-btn:hover {
    background-color: rgb(204, 200, 200);
    font-weight: 500;
}
